<div class="dig ">
    <form class="dialog-form login-form" [formGroup]="signUpForm" (ngSubmit)="onSignUpSubmit()">
        <div>
            <h1 mat-dialog-title style="float: left">Sign in</h1>
            <span class="btn-close-dialog" [mat-dialog-close]>&#x2715;</span>
        </div>
        <mat-form-field class="game" appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" #signUpEmail required>

            <mat-hint *ngIf="signUpForm.controls['email'].hasError('required')" class="text-danger" align="start">{{ "\&#9888;" }} Email is required</mat-hint>
            <mat-hint *ngIf="signUpForm.controls['email'].hasError('pattern')" class="text-danger" align="start">{{ "\&#9888;" }} Email not valid</mat-hint>

        </mat-form-field>

        <mat-form-field class="game" appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput formControlName="password" type="password" required>

            <mat-hint *ngIf="signUpForm.controls['password'].hasError('required')" class="text-danger" align="start"> {{"\&#9888;" }} Password is required</mat-hint>
            <mat-hint *ngIf="signUpForm.controls['password'].hasError('minlength') || signUpForm.controls['password'].hasError('maxlength')" class="text-danger" align="start">{{ "\&#9888;" }} Password must be between 6 and 32 characters</mat-hint>
            
        </mat-form-field>

        <mat-form-field class="game" appearance="outline">
            <mat-label>Repeat your password</mat-label>
            <input matInput formControlName="repeatPassword" type="password" required>
            <mat-hint *ngIf="signUpForm.controls['repeatPassword'].hasError('required')" class="text-danger" align="start"> {{"\&#9888;" }} Repeat Password is required</mat-hint>
            <mat-hint *ngIf="signUpForm.controls['repeatPassword'].hasError('isNotMatch')" class="text-danger" align="start"> {{"\&#9888;" }} Passwords are not the same</mat-hint>

        </mat-form-field>

        <mat-form-field class="game" appearance="outline">
            <mat-label>Display Name</mat-label>
            <input matInput formControlName="displayName" required>
            <mat-hint *ngIf="signUpForm.controls['displayName'].hasError('required')" class="text-danger" align="start"> {{"\&#9888;" }} Display Name is required</mat-hint>
            <mat-hint *ngIf="signUpForm.controls['displayName'].hasError('pattern')" class="text-danger" align="start"> {{"\&#9888;" }} Display Name must be bettween 2 and 10 characters and not have special character</mat-hint>

        </mat-form-field>
        <div class="error-auth" *ngIf=" err.error !== '' ">
            <span><i class="fa fa-info-circle" aria-hidden="true"></i></span>
            <span class="ml-2">{{err.error}}</span>
        </div>
        <div class="form-check form-check-inline">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="" id="" value="checkedValue"
                    formControlName="terms"> <span>I agree to the <a href="/legal-notice" target="_blank">Legal
                        notice</a>. For more information about privacy practices, see the <a href="/privacy-policy"
                        target="_blank">Privacy Policy</a>.</span>
            </label>
        </div>

        <button class="p-2 mt-3 mb-3" mat-flat-button color="primary">Sign Up</button>
    </form>
    <p>Already have an account? <a (click)="onOpenLoginDialog()">Login</a></p>
</div>