<div class="container-new-game Container-module--container--2j6nF">
    <p>Choose a name and a voting system for your game.</p>
    <form [formGroup]="newGameForm" (submit)="onNewGameSubmit()">
        <mat-form-field class="game" appearance="outline">
            <mat-label>Game's Name</mat-label>
            <input matInput formControlName="name" name="name">
        </mat-form-field>
    
        <mat-form-field class="game" appearance="outline">
            <mat-label>Voting System</mat-label>
            <mat-select panelClass="game-panel"  formControlName="voting" >
                <mat-option *ngFor="let item of votings" [value]="item.voting_sys">{{ item.name }}</mat-option>
                <mat-option (click)="onCustomDeck()" class="nav-link text-primary">Custom Deck</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="game" appearance="outline">
            <mat-label>Who can show card ?</mat-label>
            <mat-select panelClass="game-panel" formControlName="isShowCardByOwner"  >
                <mat-option value="true">Only Owner</mat-option>
                <mat-option value="false">Every One</mat-option>
            </mat-select>
        </mat-form-field>

        <button class="w-100 p-3" mat-flat-button color="primary" type="submit">
            <span>Start new game</span>
        </button>
    </form>
</div>