


header{
    font-size: 0.6rem;
    width: fit-content;
}
.Header-module--header--1Buac, .Header-module--header--1Buac .Header-module--left--267pO, .Header-module--header--1Buac .Header-module--right--1lnib {
    align-items: center;
    display: flex;
}

@media only screen and (min-width: 920px) {
    .Header-module--right--1lnib {
        padding: 0 4rem 0 2rem;
    }
  }


.link-logo {
    color: #3993ff;
    font-weight: 700;
    text-decoration: none;  
}






.btn-dropdown {
    display: inline-block;
    max-width: 100%;
    position: relative;
}

.btn-profile {
    align-items: center;
    background-color: transparent;
    border: 0;
    border-radius: 0.8rem;
    color: #48545d;
    cursor: pointer;
    display: inline-flex;
    font-size: 1.2rem;
    font-weight: 700;
    height: 3.9rem;
    letter-spacing: .02em;
    outline: 0;
    padding: 0 1.2rem;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: all .09s linear;
}




.btn-profile:hover{
    background-color: #f1f1f1;
}

.btn-profile:focus{
    box-shadow: 0 0 0 2px #f9f9f9,0 0 0 4px #e8e9ea; 
}

.divider-module{
    font-size: 30px;
    margin-left: 20px;
}


.dropdown-menu{
    min-width: 17rem;
    left: -120px !important;
}
.dropdown-menu .dropdown-item{
    color: #8a8a8a;
}

.nav-header{
    margin-left: 20px;
    border: none;
    font-size: 20px;
    color: #3993ff;
    font-weight: 580;
    background: none;
}

.profile .picture{
    background-color: #dcecff;
    padding: 14px 18px;
    border-radius: 50%;
    margin-right: 5px;
}

.profile .name{
    font-size: 22px;
}
