<h4 class="pt-5 pb-5">Sign in</h4>

<form class="dialog-form login-form">
    <mat-form-field class="game" appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput>
    </mat-form-field>
    
    <mat-form-field class="game" appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput>
    </mat-form-field>
    <button type="button" class="btn btn-primary">Login</button>
</form>
<div class="row mt-3">
    <a href="/" class="col-9 nav-link">Create my account</a>
    <a href="/" class="col nav-link">Forgot?</a>
</div>



