<h4 class="pt-5 pb-5">Sign in</h4>

<form class="dialog-form login-form">
    <mat-form-field class="game" appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput>
    </mat-form-field>
    
    <mat-form-field class="game" appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput>
    </mat-form-field>

    <mat-form-field class="game" appearance="outline">
        <mat-label>Repeat your password</mat-label>
        <input matInput>
    </mat-form-field>

    <mat-form-field class="game" appearance="outline" >
        <mat-label>Password</mat-label>
        <input matInput>
    </mat-form-field>

    <div class="form-check form-check-inline">
        <label class="form-check-label">
            <input class="form-check-input" type="checkbox" name="" id="" value="checkedValue"> I agree to the Legal notice. For more information about privacy practices, see the Privacy Policy.
        </label>
    </div>

    <button type="button" class="btn btn-primary">Sign Up</button>
</form>
<p>Already have an account? <a href="/">Login</a></p>



