<div class="dig ">
    <form class="dialog-form login-form" [formGroup]="signUpForm" (ngSubmit)="onSignUpSubmit()">
        <div>
            <h1 mat-dialog-title style="float: left">Sign in</h1>
            <span class="btn-close-dialog" [mat-dialog-close]>&#x2715;</span>
        </div>
        <mat-form-field class="game" appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" required>
        </mat-form-field>
        
        <mat-form-field class="game" appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput formControlName="password" type="password" required>
        </mat-form-field>
    
        <mat-form-field class="game" appearance="outline">
            <mat-label>Repeat your password</mat-label>
            <input matInput formControlName="repeatPassword" type="password" required>
        </mat-form-field>
    
        <mat-form-field class="game" appearance="outline" >
            <mat-label>Display Name</mat-label>
            <input matInput formControlName="displayName" required>
        </mat-form-field>
        <div class="error-auth" *ngIf=" err.error !== '' ">
            <span><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M11.953 2C6.465 2 2 6.486 2 12C2 17.514 6.486 22 12 22C17.514 22 22 17.514 22 12C22 6.486 17.493 2 11.953 2ZM12 20C7.589 20 4 16.411 4 12C4 7.589 7.567 4 11.953 4C16.391 4 20 7.589 20 12C20 16.411 16.411 20 12 20ZM11 8C11 7.44772 11.4477 7 12 7C12.5523 7 13 7.44772 13 8V12C13 12.5523 12.5523 13 12 13C11.4477 13 11 12.5523 11 12V8ZM11 16C11 15.4477 11.4477 15 12 15C12.5523 15 13 15.4477 13 16C13 16.5523 12.5523 17 12 17C11.4477 17 11 16.5523 11 16Z" fill="currentColor"></path></svg></span>
            <span class="ml-2">{{err.error}}</span>
        </div>
        <div class="form-check form-check-inline">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="" id="" value="checkedValue" formControlName="terms"> <span>I agree to the <a href="/legal-notice" target="_blank">Legal notice</a>. For more information about privacy practices, see the <a href="/privacy-policy" target="_blank">Privacy Policy</a>.</span>
            </label>
        </div>
    
        <button class="p-2 mt-3 mb-3" mat-flat-button color="primary" >Sign Up</button>
    </form>
    <p>Already have an account? <a (click)="onOpenLoginDialog()">Login</a></p>
</div>




