<div class="dig ">
    <form class="dialog-form login-form">
        <div>
            <h1 mat-dialog-title style="float: left">Sign in</h1>
            <span class="btn-close-dialog" [mat-dialog-close]>&#x2715;</span>
        </div>
        <mat-form-field class="game" appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput>
        </mat-form-field>
        
        <mat-form-field class="game" appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput>
        </mat-form-field>
    
        <mat-form-field class="game" appearance="outline">
            <mat-label>Repeat your password</mat-label>
            <input matInput>
        </mat-form-field>
    
        <mat-form-field class="game" appearance="outline" >
            <mat-label>Password</mat-label>
            <input matInput>
        </mat-form-field>
    
        <div class="form-check form-check-inline">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="" id="" value="checkedValue"> <span>I agree to the <a href="/legal-notice" target="_blank">Legal notice</a>. For more information about privacy practices, see the <a href="/privacy-policy" target="_blank">Privacy Policy</a>.</span>
            </label>
        </div>
    
        <button class="p-2 mt-3 mb-3" mat-flat-button color="primary">Sign Up</button>
    </form>
    <p>Already have an account? <a href="/">Login</a></p>
</div>




