@import '~@angular/material/theming';
@include mat-core();

  $primary: mat-palette($mat-blue,600);
  $accent: mat-palette($mat-gray,300);
  // $white: mat-palette($mat-white, 100);

  $theme: mat-light-theme($primary, $accent);

@include angular-material-theme($theme);