

.title-page {
    color: #1a2935;
    font-size: 3.8rem;
    font-weight: 550;
    line-height: 1.05em;
    margin-bottom: 30px;
    padding: 0;
}

.para-dashboard{
    font-weight: 150;
    margin-bottom: 20px;
}

.dashboard-start span{
    padding: 0 5rem;
    font-weight: 550;
}

.company-item {
    align-items: center;
    column-gap: 2.4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    list-style: none;
    margin: 0;
    padding: 0;
    row-gap: 2.4rem;
}


.Link-module--link--1-kR4 {
    color: #3993ff;
    font-weight: 700;
    text-decoration: none;
}

.HomeTemplate-module--first-section__logos-label--ljDYK {
    color: #48545d;
    font-size: 1rem;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}
.para-dashboard-2{
    color: #48545d;
    font-size: 1rem;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

